.list {
  margin-top: 10px;
}

.loading {
  height: 40px;
  margin-top: 10px;
}

.button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.search {
  width: 200px;
  height: 40px;
}